.SignUpForm{
  background-color:#212121;
  padding-bottom: 10%;
    
}

.form-Signup{
  float: center;
  border: 1px solid black ;
  background-color: white;
  width: 700px;
  height: 1000px;
  margin-left: 32%;
  margin-right: 50%;
}

.Logo{
    background-color:  #212121;
    padding-top: 1%;
    padding-bottom: 1%;
}

.Signemail-control{
    padding-right: 8%;
    padding-top: 2%;
    font-size: 150%;
    font-weight: bolder;
}

#email{
    border-style: solid;
    border-color: #ffa507;
    border-width: 3px;
    margin-left: 25%;
    width: 50%;
}

.Signpwd-control{
    padding-left: 2%;
    padding-top: 2%;
    font-size: 150%;
    font-weight: bolder;
}

#password{
    border-style: solid;
    border-color: #ffa507;
    border-width: 3px;
    margin-left: 25%;
    width: 50%;
}
.Signrepwd-control{
    padding-right: 1%;
    padding-top: 2%;
    font-size: 150%;
    font-weight: bolder;
}
.Signname-control{
    padding-right: 19%;
    padding-top: 2%;
    font-size: 150%;
    font-weight: bolder;
}
#name{
    border-style: solid;
    border-color: #ffa507;
    border-width: 3px;
    margin-left: 25%;
    width: 50%;
}
.Signphone-control{
    padding-right: 19%;
    padding-top: 2%;
    font-size: 150%;
    font-weight: bolder;
}

#age{
    border-style: solid;
    border-color: #ffa507;
    border-width: 3px;
    margin-left: 25%;
    width: 50%;
}

.exphone{
    font-size: 20px;
    color: rgba(0,0,0,.6);
    margin-right: 28%;
  }

  .check1{
    margin-left: 0%;
    cursor: pointer;
    background-color: #ffa507;
    font-size: 30px;
  }
  
  .check2{
    margin-left: 10%;
    cursor: pointer;
    background-color: #ffa507;
  }
  
  .check3{
    margin-left: 8.5%;
    cursor: pointer;
    color: #ffa507;
    
  }


  .form-main{
    font-size: 250%;
    padding-top: 2%;
  }

  .agree-control2{
    font-size: 80%;
    padding-left: 3%;
  }

  .signupFinish{
    font-size: 200%;
    background-color: #ffa507;
    border-color: #ffa507;
    color: white;
    cursor: pointer;
    align-items: center;
    flex: 1 0 auto;
    justify-content: inherit;
    line-height: normal;
    position: relative;
    border:none;
    margin-top: 5%;
    border-radius: 20px;
    margin-left: 30px;
    margin-bottom: 10%;
    padding-right: 20px;
    padding-left: 20px;
  }