.App{
    min-height: 100vh;
}
.memberId{
    
    padding-right: 100px;
    padding-left: 100px;

}
.memberName{
    padding-right: 100px;
}
.memberPhone{
    padding-right: 100px;
}
.memberEmail{
  
    
}
