.App {
  text-align: center;
  background-color: white;
}

.App-main{
  color: black;
  min-height: 100vh;
  text-align: center;
}

.Top-main{
  background-color: #212121;
  padding-top: 3%;
  padding-bottom: 3%;
}
.linkCss{
  text-decoration: none;
  color: white;
  
}

.menuBtn{
  color:black !important;
  font-size: 20px;
  padding-right: 5px;
  margin-right: 10px;
  background-color: black;
  float: left;
  margin-right: 30px;
  padding-left: 3%;
}

.homeBtn{
  color: black;
  font-size: 20px;
  padding-right: 5px;
  background-color: black;
  float: right;
  margin-left: 10px;
  padding-right: 3%;
}

.loginBtn{
  color: black;
  font-size: 20px;
  padding-right: 5px;
  background-color: black;
  float: right;
}

.signupBtn{
  color: black;
  font-size: 20px;
  padding-right: 5px;
  margin-right: 10px;
  background-color: black;
  float: right;
  padding-left: 20px;
}

.App-header {
  text-align: right;
  background-color:  black;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 15px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

 .email-control{
  font-size: 3px;
  font-weight: bolder;
  padding-right: 40px;
  
}

.pwd-control{
  font-size: 3px;
  font-weight: bolder;
  padding-right: 10px;
}

.repwd-control{
  font-size: 3px;
  font-weight: bolder;
  padding-right: 20px;
}

.name-control{
  font-size: 3px;
  font-weight: bolder;
  padding-right: 32px;
}

.phone-control{
  font-size: 3px;
  font-weight: bolder;
  padding-right: 65px;
}

.formphone-control{
  width: 100px;
  margin-right: 10px;
  margin-left: 3px;
}

.confirm-Btn{
  background-color: internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  border:none;
  font-size: 5px;
  font: 400 10px Arial;
  font-weight: 600;
  color: -internal-light-dark(black, white);
  cursor: pointer;
}

.reconfirm-Btn{
  margin-top: 10px;  
}
.pCss{
  background-color: #212121;
  color: white;
  margin-bottom: -1px;
  
}

.reconfirm-control{
  margin-bottom: 7px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.myForm{
  margin-left: 30%;
  background-color: white;
  padding-right: 50px;
  width: 40%;
  height: 500px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }


  
  
}
