.myLogin{
    margin-left: 35%;
    background-color: white;
    width: 30%;
    padding-bottom: 10%;
}
.password-control{
    margin-right: 10%;
    font-size: 3px;
    font-weight: bolder;
    padding-right: 10%;
}
.Loginemail-control{
    font-size: 3px;
    font-weight: bolder;
    margin-right: 10%;
    padding-right: 10;
}
.LoginFinish{
  font-size: 200%;
  background-color: #ffa507;
  border-color: #ffa507;
  color: white;
  cursor: pointer;
  align-items: center;
  flex: 1 0 auto;
  justify-content: inherit;
  line-height: normal;
  position: relative;
  border:none;
  margin-top: 5%;
  border-radius: 4px;
  margin-left: 30px;
}
.LoginSignupBtn{
  color: black;
  font-size: 150%;
  
}
.Loginform-control{
  margin-bottom: 10px;
}
.Logo{
  background-color:  #212121;
  padding-top: 1%;
  padding-bottom: 1%;
}

.Loginemail-control{
  padding-right: 3%;
  padding-top: 5%;
  font-size: 150%;
}

#emailInput{
  border-style: solid;
  border-color: #ffa507;
  border-width: 3px;
  margin-top: 1%;
  margin-left: 15%;
  width: 80%;
}

.password-control{
  padding-top: 5%;
  font-size: 150%;
}
#pwdInput{
  border-style: solid;
  border-color: #ffa507;
  border-width: 3px;
  margin-top: 1%;
  margin-left: 15%;
  width: 80%;  
}
