.myLogin{
    
    background-color:#F8F7F7;
    padding-bottom: 10%;
}
.password-control{
    margin-right: 10%;
    font-size: 3px;
    font-weight: bolder;
    padding-right: 1%;
    padding-top: 1%;
  font-size: 150%;
}
.Loginemail-control{
    font-weight: bolder;
    margin-right: 10%;
    padding-top: 2%;
    font-size: 150%;
    
    
}
.LoginFinish{
  font-size: 200%;
  background-color: #ffa507;
  border-color: #ffa507;
  color: white;
  cursor: pointer;
  align-items: center;
  flex: 1 0 auto;
  justify-content: inherit;
  line-height: normal;
  position: relative;
  border:none;
  margin-top: 2%;
  border-radius: 4px;
  margin-right: 2%;
}
.LoginSignupBtn{
  color: black;
  font-size: 150%;
  
}
.Loginform-control{
  margin-bottom: 10px;
}
.Logo{
  background-color:  #212121;
  padding-top: 1%;
  padding-bottom: 1%;
}

#emailInput{
  border-style: solid;
  border-color: #ffa507;
  border-width: 3px;
  margin-top: 1%;
  margin-left: 35%;
  width: 30%;
}

#pwdInput{
  border-style: solid;
  border-color: #ffa507;
  border-width: 3px;
  margin-top: 1%;
  margin-left: 35%;
  width: 30%;  
}
